*
{
	margin:0px;
	padding:0px;
}
div
{
	background-image:url("image/fondo1.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:100% 100%;
	color:#FFFFFF;
	text-align:left;
	height:300px;
	width:100%;
	font-size:xx-large;
}
nav
{
	background-color:skyblue;
	margin:10px;
}
footer
{
	width:100%;
	height:80px;
	background-color:black;
	color:white;
	margin-top:0px;
	margin-bottom:0px;
}
footer p
{
	text-align:center;
	padding:50px;
}
